* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: black;
}

/* Nav*/

header {
    background: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: red;
    font-weight: 800;
    
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: white;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: red;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: white;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: black;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}

/* main content */

.heroContainer {
    height: 40em;
    background-image: url(img/butchersmeat.jpg) ;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.heroContainer h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 72px;
    padding: .8em;
    margin-top: 3em;
    margin-left: 100px;
    display: flex;
}

@media (max-width: 500px) {
    .heroContainer h1 {
        color: white;
        display: flex;
        justify-content: center;
        font-size: 46px;
        padding: 12px;
        margin-top: 2em;
        margin-left: 100px;
        display: flex;
    }
}




/* search bar */



::selection{
    color: #fff;
    
  }
  .wrapper{
    width: 370px;
    margin: 85px auto 0;
 
    border-radius: 16px;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 65px;
    color:black;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 16px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

    opacity: 0.7;
  }
  .select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    opacity: 0.7;

  }
  .wrapper.active .content{
    display: block;
  }
  .content .search{
    position: relative;
  }
  .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    padding-left: 42px;
    border: 2px solid red;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  }

  /*featured responsive business cards section*/
  
  .featured-business-cards-container {
    margin-top: 8em;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex:1;
    gap: 20px;
  }

  .red-meat-text { 
    color:white;


}

  @media (max-width: 930px) {
    .featured-business-cards-container {
      margin-top: 70px;
      height: 500px;
      background-color: black;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex:1;
      gap: 20px;
    }
  }
  /*card design*/
  .top-rated-butchers {
    text-align: center;
    opacity: 0.8;
    margin-top: 4em;
    font-size: 72px;
    color: white;
  }
  @media (max-width: 940px) {
    .top-rated-butchers {
      text-align: center;
      opacity:0.8;
      margin-top: 4em;
      font-size: 55px;
    }
  }
.card {
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 16px 18px rgba(42, 42, 42, 0.2);
  overflow: hidden;
  width: 300px;
  height: 420px;
  opacity: 0;
  filter:blur(3px);
  transform: translateX(-100%);
  transition: all .75s;
}
.card:hover {
  box-shadow: 0 6px 6px 0 rgb(99, 99, 99);
  margin-top: -5px;
  margin-bottom: 5px;
  transition: .5s;
}
.card-header:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.1, 1.1, 1);
  transition: all 1s linear;
 }
 
a {
  text-decoration: none;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}  
.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 250px;
}
  
.business-name {
  font-size: 30px;
  color: black;
  margin-top:2px;
  height: 110px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 80%;
  padding: 12px;

}
.business-address {
  font-style: normal;
  font-family: roboto;
  color:black;
  text-align: center;
  padding-bottom: 8px;
}
.business-city {
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
  border-top: 1px solid black;
  position: relative;
  padding: 12px;
  color: black;
}
.span-red {
  color: red;
  opacity: 95%;
}